/out/production/Program/main/Main.class
/out/production/Program/main/Terminal$Console.class
/out/production/Program/main/Terminal$ConsoleWriter.class
/out/production/Program/main/Terminal.class
/out/production/Program/computer/program/logging/ProgramFiles/Ls.class
